name: adaptive_selector_example
description: Example app for adaptive_selector package
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.0
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  adaptive_selector:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

